.description {
    display: inline-block;
    width: 75%;
    @media (max-width: 620px) {
      width: 100%;
    }
}

.image {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    height: 200px;
    margin-right: 40px;
}
.box {
    display: inline-block;
    vertical-align: top;
    width: 46%;
}

.delete-btn {
    color: black;
    background-color: red;
    box-shadow: 2px 1px #888888;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.view-btn {
    color: black;
    background-color: blue;
    box-shadow: 2px 1px #888888;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-btn {
    color: black;
    background-color: green;
    box-shadow: 2px 1px #888888;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
}

.center {
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 40px;
    text-align: center;
    transform: translate(-50%, -50%)
}